# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.uv/
uv.lock
.mypy_cache/
.ruff_cache/
.pytest_cache/

# Node
node_modules/
.next/
out/

# Env
.env
.env.local
.env.*.local

# Editor
.vscode/
.idea/
*.swp
.DS_Store

# Docker volumes (locales por error)
postgres_data/
redis_data/
minio_data/

# Logs
*.log
